.venv/
# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
.idea/
**/GeneratedPluginRegistrant.*
.DS_Store

# Google Apps Script / clasp
gas/.clasp.json
.clasprc.json
